.grid-works {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}

.img-works {
  width: 70%;
}

.banner-card h2 {
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--surface);
}

.banner-card {
  position: relative;
}

.test {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 6px;
}
